apiVersion: v1
kind: ServiceAccount
metadata:
  name: cbt-audit-sealer
  labels:
    app.kubernetes.io/name: cbt-platform
    app.kubernetes.io/component: audit-sealer
  annotations:
    cbt.meldtech.org/workload-identity: ${CBT_AUDIT_SEALER_WORKLOAD_IDENTITY}
automountServiceAccountToken: true
