apiVersion: v1
kind: ServiceAccount
metadata:
  name: cbt-platform-migration
  labels:
    app.kubernetes.io/name: cbt-platform
    app.kubernetes.io/component: migration
  annotations:
    cbt.meldtech.org/workload-identity: ${CBT_MIGRATION_WORKLOAD_IDENTITY}
automountServiceAccountToken: false
