apiVersion: v1
kind: ServiceAccount
metadata:
  name: cbt-platform-worker
  labels:
    app.kubernetes.io/name: cbt-platform
    app.kubernetes.io/component: worker
  annotations:
    cbt.meldtech.org/workload-identity: ${CBT_WORKER_WORKLOAD_IDENTITY}
automountServiceAccountToken: true
